<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Camille</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" media="(max-width: 1000px)" href="./styles/main.sm.css">
    <link rel="stylesheet" media="(min-width: 1000px)" href="./styles/main.lg.css">

    <link rel="stylesheet" href="./styles/typo.css">

    <!-- Vue (production) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
  </head>

  <body>
    <main id="main" :style="{ backgroundImage: url(preview.url) }">
      <section id="top-view">
        <div class="viewer" :style="{ backgroundImage: url(preview.url) }"></div>
        <span class="sp20px"></span>

        <div class="btn-row">
          <button v-on:click="selectImg"  :disabled="state.categorizing">Escolher imagem</button>
          <button v-on:click="categorize" :disabled="state.categorizing">Categorizar</button>
        </div>
      </section>

      <aside id="bottom-view">
        <h1>Camille</h1>

        <div v-if="response.probs.length === 0">
          <p>
            <b class="display">Camille</b> é uma inteligência artificial criada para tentar reconhecer 
            o movimento artístico de uma pintura. 
            A IA foi treinada em uma 
            <a target="blank" href="https://github.com/cs-chan/ArtGAN/tree/master/WikiArt%20Dataset">base de dados</a> 
            retirada do 
            <a target="blank" href="https://www.wikiart.org">WikiArt.org</a> 
            com obras dos movimentos:
          </p>

          <p class="vocab">
            <i>{{ ui.vocab }}</i>.
          </p>

          <p>
            Envie algum arquivo <b>.jpg</b> ou <b>.png</b> para Camille, e veja o que ela responderá!
          </p>
        </div>

        <div v-if="response.probs.length">
          <p>Esta é uma pintura do <b>{{ response.probs[0].label }}</b>.</p>
        </div>

        <div class="btn-row mt50">
          <button class="goto-top" v-on:click="goToTop">/\ Voltar para o topo</button>
        </div>
      </aside>
    </main>

    <input id="img-file-selector" type="file" accept="image/*">

    <!-- Debug libs -->
    <script src="./lib/vue.js"></script>
    <script src="./app/app.js"></script>
  </body>
</html>