h1, h2, h3, h4, h5 {
    font-family: 'Syne Mono', monospace;
    text-align: center;
}

p, span, button, select {
    font-family: 'Raleway', sans-serif;
}

section {
    color: snow;
}

b {
	color: #000;
}

p.display, b.display {
	font-family: 'Syne Mono', monospace;
}

aside div {
    margin: 20px 10px 0 10px;

    text-align: center;
}

aside div p {
	line-height:   1.5em;
	margin-bottom: 15px;
}

aside div i {
	line-height: 1.8em;
}