h1, h2, h3, h4, h5 {
    font-family: 'Syne Mono', monospace;
    text-align: center;
}

p, span, button, select {
    font-family: 'Raleway', sans-serif;
}

section {
    color: snow;
}

.presentation {
    margin: 20px 10px 0 10px;

    text-align: center;
    line-height: 1.5em;
}